.section{
    position: fixed;
    top: 70px;

    left: 0;
    bottom: 0;
    width: 90px;
}

.sidebar-link{
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.sidebar-link:hover{
    background-color: rgb(231, 226, 226);
}

.sidebar-link img{
    width: 25px;
}

.sidebar-link div{
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 500;
    padding-top: 5px;
}